@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;500&display=swap");

// $feature-color: #0b101e;
$feature-color: #27133f;
// $accent-color: #b0279e;
$accent-color: change-color($feature-color, 160deg);


$background-color: #f2f2f2;
$foreground-color: rgb(34, 34, 34);

